@font-face {
  font-family: 'DroidSansMono';
  src: url('dsm.woff') format('woff');
}

.gone {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

html {
  font-family: 'DroidSansMono', monospace, monospace;
  box-sizing: border-box;
  overflow-y: scroll;
  height: 100%;
  font-size: 13px;
}

@media (max-width: 600.9px) {
  html {
    font-size: calc(0.83vw + 8px);
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #3c3836;
  background-color: white;
  overflow: auto;

  max-width: 100%;
  margin: 0;

  padding: 2vh 4vw;
}

#main {
}

/* #### Navigation ###################### */

#nav {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #6F88DC;
}
#link {
  font-size: 1.4rem;
  color: #DC886F;
}
#link:hover {
  text-shadow: #DC886F 0 0 5px;
}

/* ---- Menu ---------------------------- */

.year, .day {
  font-size: 1.4rem;
  overflow: hidden;
  line-height: 1.5;
  padding: 0 0.5ex;
  border-radius: 5px;
  cursor: not-allowed;
}
.year:hover, .day:hover {
  text-shadow: #6F88DC 0 0 5px;
}

.solved {
  color: #6F88DC;
  cursor: pointer;
}
.menu .selected {
  color: #eaeaea;
  text-shadow: #eaeaea 0 0 5px !important;
  background-color: #222;
}

#run {
  font-size: 1.4rem;
  color: #6F88DC;
  font-weight: bold;
  cursor: pointer;
  line-height: 1.5;
}
#run:hover {
  text-shadow: #6F88DC 0 0 5px;
}

/* #### Results ######################### */

.result {
  color: #8f3f71; /* purple2 */
}

input {
  border:none;
  background-color: black;
  color: #eaeaea;
  resize: none;
  margin: 0;
  min-width: 0;
  width: 0;
  text-align: center;
}

/* #### Content ######################### */

.content {
  display: block;
  font-size: 0.9rem;
  width: 100%;
}

/* ---- Data ---------------------------- */

textarea {
  border:none;
  resize: none;
  margin: 2em 0 1em 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: 1.05;
  min-height: 20ex;

  white-space: break-spaces;
  overflow-wrap: normal;
  overflow-x: auto;
}

/* ---- Code ---------------------------- */

#code {
  overflow: auto;
  touch-action: pan-x pan-y;
}
pre {
  margin: 0;
  font-family: inherit;
}
.hljs {
  padding: 0;
  font-family: inherit;
  overflow-x: unset;
}

/* #### Tabs ############################ */

#tabs {
  display: flex;
}

.tab {
  flex: 1;
  color: #6F88DC;
  background-color: black;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #444;
  cursor: pointer;
}

.tab:first-child {
  border-left: 1px solid #444;
  border-bottom-left-radius: 5px;
}
.tab:last-child {
  border-right: 1px solid #444;
  border-bottom-right-radius: 5px;
}

.tab.selected {
  color: white;
  text-shadow: #eaeaea 0 0 5px !important;
  cursor: initial;
}

.tab:not(.selected):hover {
  background-color: #222;
}

.tab span {
  line-height: 1.5;
  padding: 0 0.5ex;
  border-radius: 5px;
}
.tab.selected span {
  background-color: #222;
}
